extends layout.pug

block header
	div(class="jumbotron event-jumbo p-3 p-md-5 text-white")
		div(class="col-md-6 px-0")
			h1(class="display-3") Events
			p(class="lead my-3") Alumni events throughout the year are listed in our Alumni calendar. Upcoming events are also listed below.
			p(class="lead mb-0")
				a(href=calUrl class="text-white font-weight-bold") See Full Calendar...

block content
	div(class="row")
		h2(class="display-4 mb-3") Upcoming Events
	div(class="row")
		each val in dates
			div(class="col-md-3")
				div(class="card")
					div(class="jumbotron jumbotron-fluid p-md-3 text-white main-event-head" style="height: 100px; width: 100%;")
						h5(class="card-title text-center")= val.summary
					div(class="card-body main-event-body")
						p(class="main-event-date") 
							span(class="main-event-month rockTxt")= val.month
							span(class="main-event-day")= val.day
						p(class="main-event-time")= val.time
						p(class="main-event-location") 
							a(href=val.location.link)= val.location.title 
						p(class="card-text")= val.desc
						a(class="btn btn-clemson" href=val.title) View in Calendar

	hr(class="featurette-divider")

	// --- Featurette One ---
	div(class="row featurette")
		div(class="col-md-7")
			h2(class="featurette-heading") Past Events. 
			p(class="lead") If you'd like to get an idea of what a New England alumni event is like, or just see pictures of past events, check out our picture galleries!
			a(class="btn btn-clemson" href="/gallery") See Galleries
		div(class="col-md-5")
			img(class="featurette-image img-fluid mx-auto" data-src="" alt="Past Events" style="width: 500px; height: 500px;" src="/img/featurette1.jpg")

	hr(class="featurette-divider")

	// --- Featurette Two ---
	div(class="row featurette")
		div(class="col-md-7 order-md-2")
			h2(class="featurette-heading") Game Watch Parties. 
				span(class="text-muted")
					a(class="text-muted" href="https://www.centralwharfco.com/") Central Wharf Co.
			p(class="lead") During the college football season. We host game watch parties for all Clemson games at #[a(href="https://www.centralwharfco.com/") Central Wharf Company] restaurant in downtown Boston. All Clemson fans are always welcome! See our calendar above for exact dates and times.
			a(class="btn btn-clemson" target="_blank" rel="noopener" href=mapsUrl) View in Map
		div(class="col-md-5")
			img(class="featurette-image img-fluid mx-auto" alt="Central Wharf Company" style="width: 500px; height: 500px;" src="/img/cwharf.jpg" data-holder-rendered="true")

	hr(class="featurette-divider")

