extends layout.pug

block header
	div(class="jumbotron event-jumbo p-3 p-md-5 text-white bg-dark")
		div(class="col-md-6 px-0")
			h1(class="display-4 font-bold") Events
			p(class="lead my-3") Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.
			p(class="lead mb-0")
				a(href="#" class="text-white font-weight-bold") See Full Calendar...

block content
	div(class="row")
		h3(class="display-3 font-italic mb-5") Upcoming Events ${dates}
	div(class="row")
		each val in dates
			div(class="col-md-3")
				div(class="card")
					div(class="jumbotron jumbotron-fluid p-md-3 text-white main-event-head" style="height: 100%; width: 100%;")
						h5(class="card-title text-center")= val.title
					div(class="card-body main-event-body")
						p(class="main-event-date") 
							span(class="main-event-month rockTxt")= val.month
							span(class="main-event-day")= val.day
						p(class="main-event-time")= val.time
						p(class="main-event-location") 
							a(href=val.location.link)= val.location.title 
						p(class="card-text")= val.desc
						p(class="card-text")= val.summary
						a(class="btn btn-carousel" href="#") View in Calendar

		div(class="col-md-3")
			div(class="card")
				div(class="jumbotron jumbotron-fluid p-md-3 text-white main-event-head" style="height: 100%; width: 100%;")
					h5(class="card-title text-center") 🏈 Clemson Tigers @ Texas A&M Aggies
				div(class="card-body main-event-body")
					p(class="main-event-date") 
						span(class="main-event-month rockTxt") Sept 
						span(class="main-event-day") 24
					p(class="main-event-time") 10:00pm - 12:00pm
					p(class="main-event-location") 
						a(href="#") Central Wharf Company
					p(class="card-text") Game watch party starting at blah blah blah.
					a(class="btn btn-carousel" href="#") View in Calendar

		div(class="col-md-3")
			div(class="card")
				div(class="jumbotron jumbotron-fluid p-md-3 text-white main-event-head" style="height: 100%; width: 100%;")
					h5(class="card-title text-center") 🏈 Clemson Tigers @ Texas A&M Aggies
				div(class="card-body main-event-body")
					p(class="main-event-date") 
						span(class="main-event-month rockTxt") Sept 
						span(class="main-event-day") 24
					p(class="main-event-time") 10:00pm - 12:00pm
					p(class="main-event-location") 
						a(href="#") Central Wharf Company
					p(class="card-text") Game watch party starting at blah blah blah.
					a(class="btn btn-carousel" href="#") View in Calendar

		div(class="col-md-3")
			div(class="card")
				div(class="jumbotron jumbotron-fluid p-md-3 text-white main-event-head" style="height: 100%; width: 100%;")
					h5(class="card-title text-center") 🏈 Clemson Tigers @ Texas A&M Aggies
				div(class="card-body main-event-body")
					p(class="main-event-date") 
						span(class="main-event-month rockTxt") Sept 
						span(class="main-event-day") 24
					p(class="main-event-time") 10:00pm - 12:00pm
					p(class="main-event-location") 
						a(href="#") Central Wharf Company
					p(class="card-text") Game watch party starting at blah blah blah.
					a(class="btn btn-carousel" href="#") View in Calendar

		div(class="col-md-3")
			div(class="card")
				div(class="jumbotron jumbotron-fluid p-md-3 text-white main-event-head" style="height: 100%; width: 100%;")
					h5(class="card-title text-center") 🏈 Clemson Tigers @ Texas A&M Aggies
				div(class="card-body main-event-body")
					p(class="main-event-date") 
						span(class="main-event-month rockTxt") Sept 
						span(class="main-event-day") 24
					p(class="main-event-time") 10:00pm - 12:00pm
					p(class="main-event-location") 
						a(href="#") Central Wharf Company
					p(class="card-text") Game watch party starting at blah blah blah.
					a(class="btn btn-carousel" href="#") View in Calendar

	hr(class="featurette-divider")

	// --- Featurette One ---
	div(class="row featurette")
		div(class="col-md-7")
			h2(class="featurette-heading") First featurette header. 
				span(class="text-muted") Blah blah blah!
			p(class="lead") Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
		div(class="col-md-5")
			img(class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1655e8155a3%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1655e8155a3%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.1328125%22%20y%3D%22261.278125%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true")

	hr(class="featurette-divider")

	// --- Featurette Two ---
	div(class="row featurette")
		div(class="col-md-7 order-md-2")
			h2(class="featurette-heading") First featurette header. 
				span(class="text-muted") Hello World!
			p(class="lead") Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
		div(class="col-md-5 order-md-1")
			img(class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1655e8155a3%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1655e8155a3%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.1328125%22%20y%3D%22261.278125%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true")

	hr(class="featurette-divider")

	// --- Featurette Three ---
	div(class="row featurette")
		div(class="col-md-7")
			h2(class="featurette-heading") Third featurette header. 
				span(class="text-muted") Muted text!
			p(class="lead") Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
		div(class="col-md-5")
			img(class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1655e8155a3%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1655e8155a3%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.1328125%22%20y%3D%22261.278125%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true")

	hr(class="featurette-divider")


block scripts

