extends layout.pug

block header
	div(class="jumbotron necc-jumbo gallery-jumbo p-3 p-md-5 text-white bg-dark")
		div(class="col-md-6 px-0 header-shadow")
			h1(class="display-3") Club Pictures
			p(class="lead my-3") Galleries of past Clemson Alumni events.


block content
	div(class="row")
		each album in albums
			- var url = '/gallery/' + album.dirname
			div(class="col-md-6")
				div(class="card flex-md-row mb-4 shadow-sm h-md-250")
					div(class="card-body d-flex flex-column align-items-start")
						strong(class="d-inline-block mb-2 text-secondary") Events
						h3(class="mb-0")
							a(class="text-dark" href=url)= album.title
						div(class="mb-1 text-muted")= album.evtdate
						p(class="card-text mb-auto")= album.text
						a(href=url) View Pictures
					img(class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt=album.title style="width: 200px; height: 250px;" src=album.img data-holder-rendered="true")

	hr(class="featurette-divider")